/*****************  AQUI COMEÇA RESPONSIVOS 360-980PX ******************/

/************* 360-PX ****************/
/************* INDEX.HTML ****************/
@media screen and (max-width: 320px){
    
    header .box {
        text-align: center;
        height: 385px;
        width: 25px;
    }
    .logo{
        margin-left: 23px;
        margin-top: 47px;
        width: 3px;
    }
}
/************* 980-PX ****************/
/************* FILMES.HTML ****************/
@media screen and (max-width: 980px){
    .mobile{
        display: block;
    }
    .deskitop{
        display: none;
    }
    
}