
/*****************  AQUI COMEÇA RESPONSIVOS 360-980PX ******************/

@media screen and (max-width: 980px){
    nav.mobile{
        display: block;
    }
    .deskitop{
        display: none;
    }
   
}
@media screen and (max-width: 860px) {
    .container{
        margin: 0 5px;
    }
    .BG .filmes > img{
        width: 31%;
        margin-left: 13px;
    }
}

@media screen and (max-width: 780px){
    .txt{
        font-size: 10px;
    }
   
    .txt-filmes{
        text-align: center;
        margin: 160px auto;
        font-size: 34px;

        width: 90%;
    }

   
}
@media screen and (max-width: 680px){
    .BG .filmes > img{
        width: 46%;
       
    }
   
}

/************* 360-PX ****************/
@media screen and (max-width: 580px) {
    .txt{
        font-size: 8px;
        color: red;
    }
   

}
@media screen and (max-width: 420px) {
    .txt{
        font-size: 8px;
        color: red;
    }
 
    .BG .filmes > img{
        
        width: 90%;
        
    }
  

}
/************* INDEX.HTML ****************
@media screen and (max-width: 480px){
    
    header .box {
        text-align: center;
        height: 695px;
        width: 25px;
    }
    header .box .logo{
        margin-left: 33px;
        margin-top: -47px;
        width: 6rem;
    }
    .txt{
        color: rgb(148, 148, 148);
        
        
        font-size: 7px;
    }
}
/************* 980-PX ****************/
/************* FILMES.HTML ****************/
