*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
base, html{
    height: 100%;
}
/************************************* INDEX.HTML ****************************************/
header{
    background-image: url(../img/cinema_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
header .box{
    padding: 0 30px;
    border-radius: 10px;
    width: 333px;
    background-color: rgb(241, 240, 240);
}
header .box img{
    margin-left: 33px;
    margin-top: 20px;
    width: 13rem;
}
.box input[type=nome]{
    border: 0;
    width: 100%;
    padding: 4px 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.box input[type=senha]{
    border: 0;
    width: 100%;
    padding: 4px 8px;
    margin-bottom: 12px;
}
.box input[type=button]{
    margin-bottom: 18px;
    padding: 2px 29px;
    font-size: 11px;
    cursor: pointer;
}
.redes{
    margin-top: -22px;
    margin-left: -35px;
    margin-bottom: 40px;
    width: 100%;   
}
.redes span{
    display: flex;
    margin-top: -30px;
    margin-left: 82px;
}
.redes a{
    text-decoration: none;
}
.txt{
    position: absolute;
    color: aliceblue;
    bottom: 133px;
    font-size: 10px;
}
