*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
base, html{
    height: 100%;
}
.container{
    margin: 0 32px;
}
/************************************* INDEX.HTML ****************************************/
header{
    background-image: url(../img/cinema_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
header .box{
    padding: 92px 30px;
    border-radius: 10px;
    width: 333px;
    height: 433px;
    background-color: rgb(241, 240, 240);
}
header .box .logo{
    margin-left: 33px;
    margin-top: -47px;
    width: 13rem;
}
header .box .txt-1{
    color: rgb(105, 105, 104);
}
.box input[type=nome]{
    border: 0;
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 12px;
    margin-top: 13px;
}
.box input[type=senha]{
    border: 0;
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 12px;   
}
.box input[type=button]{
    margin-bottom: 18px;
    padding: 2px 29px;
    font-size: 11px;
    cursor: pointer;
}
.redes{
    margin: 12px 0;
}
.redes > img{
    display: flex;
    left: 100px;  
}
.redes a{
    display: flex;
    margin-left: 43px;
    margin-top: -28px;
    color: rgb(155, 154, 154);
    text-decoration: none;
    font-size: 17px;
}
.txt{
    color: rgb(148, 148, 148);
    margin-top: 42px;
    text-align: center;
    font-size: 13px;
}
.txt-footer{
    border-top: 3px solid white;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(192, 190, 190);
    color: rgb(81, 82, 82);
    font-style: italic;
}
/**************************** FILMES.HTML ****************************/
.box-bg{
    background-image: url(../img/cinema_bg.jpg);
    width: 100%;
    height: 100vh;
}
.box-menu{
    padding: 10px;
    background-color: rgb(192, 190, 190);
    border-bottom: 3px solid white;
}
.logo-2{
    width: 188px;
    height: 68px;
    background-image: url(../img/toninhoflix.png);
    background-size: contain;
    
}
nav.mobile{
    width: 43px;
    height: 43px;
    background-image: url(../img/menu-1.png);
    background-position: center;
    background-size: cover;
    float: right;
    margin: -60px 0;
    display: none;
    cursor: pointer;
}

nav.mobile ul{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: orange;
    opacity: 0;
}
nav.mobile:hover ul{
    transition: 1.4s;
    opacity: 1;
}
nav.mobile li{
    padding: 10px 0;
    border: 1px solid white;
}
nav.mobile a{
    color: white;
    text-decoration: none;
}

nav.deskitop{
    float: right;
    margin: -50px -20px;
}
nav.deskitop a{
    margin: 0 22px;
    text-decoration: none;
    color: black;
    font-style: italic;
}
.txt-filmes{
    width: 66%;
    margin: 94px;
    font-size: 64px;
    font-style: italic;
    color: white;
}
/**************************** AÇÃO.HTML ****************************/
.BG{
    display: inline-block;
    width: 100%;
    height: auto;
    background-image: url(../img/cinema_bg.jpg);
    background-size: cover;
    background-position: center;
}  

.BG .container{
    margin-top: 32px;
    display: flex;

}
.BG .filmes{
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
.BG .filmes > img{
    margin-top: 15px;
    margin-bottom: 20px;
    border: 2px solid white;
    width: 23%;
    margin-left: 15px;
}
