*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
base, html{
    height: 100%;
}
.container{
    margin: 0 32px;
}
/************************************* INDEX.HTML ****************************************/
header{
    background-image: url(../img/cinema_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
header .box{
    padding: 92px 30px;
    border-radius: 10px;
    width: 333px;
    height: 433px;
    background-color: rgb(241, 240, 240);
}
header .box .logo{
    margin-left: 33px;
    margin-top: -47px;
    width: 13rem;
}
header .box .txt-1{
    color: rgb(105, 105, 104);
}
.box input[type=nome]{
    border: 0;
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 12px;
    margin-top: 13px;
}
.box input[type=senha]{
    border: 0;
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 12px;   
}
.box input[type=button]{
    margin-bottom: 18px;
    padding: 2px 29px;
    font-size: 11px;
    cursor: pointer;
}
.redes{
    margin: 7px 0;
}
.redes > img{
    display: flex;
    left: 100px;  
}
.redes a{
    float: right;
    margin-right: 132px;
    margin-top: -28px;
    color: rgb(155, 154, 154);
    text-decoration: none;
    font-size: 17px;
}
.txt{
    color: rgb(148, 148, 148);
    margin-top: 42px;
    text-align: center;
    font-size: 13px;
}
/**************************** FILMES.HTML ****************************/
.box-bg{
    background-image: url(../img/cinema_bg.jpg);
    width: 100%;
    height: 765px;
}
.box-menu{
    padding: 11px;
    background-color: rgb(192, 190, 190);
    border-bottom: 3px solid white;
}
.logo-2{
    width: 188px;
    height: 68px;
    background-image: url(../img/toninhoflix.png);
    background-size: contain;
    
}
nav.mobile{
    width: 33px;
    height: 33px;
    display: none;
    background-image: url(../img/menu-1.png);
    
}
nav.deskitop{
    float: right;
    margin: -50px 0;
}
nav.deskitop a{
    margin: 0 22px;
    text-decoration: none;
    color: black;
    font-style: italic;
}
nav.mobile{
    width: 33px;
    height: 33px;
    background-image: url(../img/menu-1.png);
    display: none;
}